<div class="container">
    <p>location works!</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Unit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations |async">
                <td>{{location.name}}</td>
                <td>{{location.city}}</td>
                <td>{{location.state}}</td>
                <td>{{location.availableUnits}}</td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
